* {
	/* 애플폰트 */
	font-family: 'Noto Sans KR', 'Apple SD Gothic', '맑은고딕', sans-serif;
	margin: 0;
	padding: 0;
	list-style:none;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 10px;
	background-color: #a38678;
	z-index: 3;
}

section {
	min-height: 100vh;
	width: 100%;
}

section:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

section:nth-child(odd) {
	background-color: lightblue;
}

.header {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #fff;
	height: 120px;
	box-shadow: 0 4px 4px -4px black;
	z-index: 2;
	margin-right: auto;
	margin-left: auto;
}

.navbar1 {
	width: 1400px;
	display: flex;
	margin: auto;
}
/* .navLi{ */
/*    text-align: end; */
/*     width: 1500px; */
/*     margin: auto; */
/* } */
.navbar1 > ul {
	flex: 1;
	height: 120px;
	/*     text-align: center; */
}

.navbar1 ul li {
	display: inline-block;
	list-style: none;
	margin: -85px 15px;
}

.navbar1 ul li a {
	margin-top: 1100px;
	text-decoration: none;
	color: #000;
	padding: 0 10px;
	position: relative;
	font-size: 20px;
}

.navbar1 ul li a:hover {
	color: rgb(0, 177, 56);
}

.navbar1 ul li a:hover::after {
	width: 80%;
}

.navbar2 ul li a::after {
	content: '';
	width: 0;
	height: 5px;
	background: #af3;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 33px;
	transition: 0.5s;
}

.navbar1 ul li a:hover::after {
	width: 80%;
}

.navbar2 ul li a:hover::after {
	width: 80%;
}

.navbar2 {
	margin: 30px auto;
	display: flex;
	/* background-color: gray; */
	/* position: fixed;         */
	top: 0px;
}

.navbar2 ul {
	flex: 1;
	text-align: center;
}

.navbar2 ul li {
	display: inline-block;
	list-style: none;
	margin: 0 25px;
}

.navbar2 ul li a {
	text-decoration: none;
	color: #000;
	/* nav a 간의 떨어지는값 일단 30으로 해봤습니다. */
	padding: 0 10px;
	position: relative;
	font-size: 25px;
}

.menubar {
	display: inline;
	float: right;
/* 	margin-top: 57px; */
	position: relative;
}

.logNav {
	display: inline;
	float: right;
	margin-top: 57px;
	position: static;
}

.imgNav {
	display: inline;
	float: left;
	position: relative;
}

.slideNav-container1 {
	width: 80%;
	margin: auto;
}

.slideNav-container2 {
	width: 80%;
	margin: auto;
	margin-top: 330px;
}

.slideNav-container3 {
	width: 100%;
	margin: auto;
	display: flex;
}

.main {
	-ms-flex: 75%;
	IE10 flex: 75%;
	/*   background-color: white; */
/* 	padding: 20px; */
	margin-top: 100px;
	text-align: center;
}

.footer {
	margin: auto;
	margin-top: 100px;
	padding: 30px;
	width: 85%;
	height: 200px;
	clear: left;
}

.topBtn, .btn1 {
	font-size: 18px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	width: 150px;
	height: 50px;
	text-align:center;
	color: #fff;
  	background: #000;
	border-radius: 100px;
	cursor: pointer;
}

.topBtn .btn1 > span{
	-webkit-text-stroke: 0.5px #ffbf00;
	background-image: linear-gradient(0deg, #fff, #fff );
	-webkit-background-clip:text;
	color: transparent;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	background-size:  100% 0%;
	transition: background-size 0.2s ease-in;
}
.topBtn .btn1 > span:hover{
	background-size: 100% 100%;
}
/* 상위 코드들은 필수 */

/* --------serachBox */
.searchBox {
	width: 90%;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.search {
	position: relative;
	width: 200px;
	margin: 0 10px;
}

.search label {
	position: relative;
	width: 100%;
	align-items: center;
}

.search label input {
	width: 100%;
	height: 30px;
	border-radius: 40px;
	padding: 5px 20px;
	padding-left: 5px;
	outline: none;
	text-align: center;
	font-size: 25px;
	vertical-align: middle;
}

.search label .material-symbols-outlined {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 2em;
}


#members {
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

#members textarea {
	width: 100%;
	height: 250px;
	font-size: 20px;
}
	
#members td, #members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even){background-color: #f2f2f2;}

#members tr:hover {background-color: #ddd;}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gray;
  color: white;
}